
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{

    width: 800px;
    height: 100vh;
    margin: 0 auto;

}

.header{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(59, 79, 235);
}

form {
    margin: 30px 58px;
    /* border: 1px solid black; */ 

}

form input{
    width: 70%;
    /* padding: 4px; */
    border-radius: 3px;
    border: 1px solid black;
    padding: 9px 18px;
    font-size: 14px;
}

form label {
    float: left;
    width: 120px;
    font-size: 18px;
}

form span {
    display: block;
    overflow: hidden;
    padding: 0px 4px 0px 6px;
    margin-left: 117px
}

.btngroup{
   margin-left: 120px;  
}

.comment{
    width: 58%;
}

.err {
    color: red !important;
    margin-left: 113px;
    font-size: 16px;
}

.btn-1 {
    display: inline;
    width: 120px;
    text-align: center;
    font-size: 18px;
}

.btn-2{
    display: inline;
    width: 120px;
    text-align: center; 
    font-size: 18px; 
    cursor: pointer;
}

.btn-1{
    background-color: rgb(39, 216, 225);
    color: #ffff;
    border: none;
}

.btn-1:hover{
    background-color: rgb(52, 232, 202);
    cursor: pointer;
}

section {
    margin-left: 99px;
}

