/* Custom fonts come here... */

@font-face {
    font-family: 'Cosmata';
    src: url(Demo_Fonts/Fontspring-DEMO-cosmata-bold.otf);
}


/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cosmata';
}

body {
    
    font-family: 'Cosmata';

}

/* container starts here */


.container {
    width: 800px;
    height: 600px;
    background-color: rgb(250, 178, 6);
    margin: auto;
    /* margin-top: 90px; */
    padding: 73px 45px;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
    margin-top: 60px;

}

.container::before {
    content: '';
    width: 13%;
    height: 450px;
    background-color: #fab206;
    position: absolute;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
}


.main_content{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}



/* NAVIGATION START HERE */


.nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}


.nav li {
    display: inline-block;
    font-size: 18px;
    padding-left: 19px;
    margin-top: 26px;
    width: 30px;
    margin-right: 81px;
    position: relative;
}


.nav li a {
    text-decoration: none;
    margin-right: 58px;
    margin-top: 10px;
    z-index: -1;
    color: black;
}



/* mini-container start here */

.mini-container{
    width: 700px;
    height: 450px;
    background-color: white;
    margin: 0 auto;
}

.img-container {
    width: 60%;
    margin: 5px 0px 5px 30px;
    position: relative;
}

.imgcount {
    margin-top: 249px;
    position: absolute;
    margin-left: -279px;
}

.img-container img {
    text-align: left;
    width: 90%;
}


/* Right side start here */

.right-text {
    width: 70%;
    margin-top: 7px;

}

.text-head {

    width: 50px;
    background-color: #989898;
    color: #fff;
    font-size: 12px;
    padding: 4px;
}

h1 {
    font-size: 35px;
    margin-top: 28px;
}

.para1 {

    font-size: 14px;
    margin-top: 12px;
    word-spacing: 0.3px;
    color: #b6aeae;
    opacity: 2px;
    line-height: 1.2;

}

h3 {
    font-size: 21px;
    margin-top: 17px;
}

/* More starts here.. */

.read {
    width: 120px;
}

.read img {

    float: right;
    margin-top: -25px;
    margin-right: -15px;

}

.newletter {

    font-size: 19px;
    margin-top: 26px;
    margin-bottom: 8px;

}

/* Newsletter starts here.. */

input[type="text"] {
    border: none;
    font-size: 12px;
    padding: 11px;
    background-color: #ffffff;
    outline: none;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 16px 20px 13px 10px;
    color: black;

}

input[type="submit"] {
    width: 133px;
    border: none;
    font-size: 12px;
    padding: 11px;
    background-color: #f9b306;
    margin-left: -6px;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 15px 0px 13px 0px;
    /* color: #734500; */
    color: black;
    font-weight: bolder;

}

.subscribe {

    display: inline;
}