@font-face {
    font-family:'cosmata' ;
    src: url(../Fonts/cosmata-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container starts here */

.container {
    width: 800px;
    height: 600px;
    margin-top: 40px;
    background-color: #fab206;
    padding: 66px 77px;
}


.container-fluid {
    padding-bottom: 12px;
    padding-top: 10px;
}

.navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.active{
    background-color: #fab206;
}


.nav li a{
    color: black;
    font-size: 18px;
    font-family: 'cosmata';
}


.navbar-right {
    float: right !important;
    margin-right: 29px !important;
}

.navbar-brand img {
    display: block;
    margin-left: 11px;
}


.mini-container {
    width: 648px;
    height: 400px;
    background-color: #fff;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);

}

.img-content {
    margin-left: 25px;
}

#img-2 {
    width: 318px;
}

.rightside {
    width: 42%;
    margin-left: 62px;

}

h1 {
    font-size: 36px;
    margin-top: 38px;
}

p {
    margin: 0 0 10px;
    margin-top: 30px;
}

#readmore {
    font-size: 20px;
    font-weight: 600;
    color: black;
}


#readimg {
    width: 30px;
    padding-bottom: 6px;
}

.rightside span {
    background-color: #9b9b9b;
    color: white;
    padding: 4px 3px;
    font-size: 13px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

.subscribeform {
    margin-top: 18px;
}


input[type="email"] {
    font-size: 12px;
    text-align: center;
    padding: 17px 0px;
    font-weight: 700;
    border: 0;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
}

input[type="email"]:focus {
    outline: none;
}


input[type="submit"] {
    font-size: 12px;
    padding: 17px 21px;
    font-weight: 700;
    border: 0;
    background-color: #fab206;
    cursor: pointer;
    box-shadow: 6px 4px 57px -4px rgba(0, 0, 0, 0.3);
    margin-left: -4px;

}


/* Media query  */

@media only screen and (min-width: 767px) and (max-width: 1043px){

    .rightside {
        margin-left: 63px;
    }

    h3 {
        margin-top: 9px;
    }

    .subscribeform {
        margin-top: 29px;
    }

}

@media only screen and (max-width: 1044px){
    .subscribeform {
        margin-top: 20px;
    }

}

/* Nested media query  */

@media only screen and (min-width: 767px){

    @media only screen and (max-width: 1043px){
        .subscribeform {
            margin-top: 31px;
        }
    }

}



