

@font-face {
    font-family: 'Georgia';
    src: url(../Fonts/georgia.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gerorgia';
}

.container{
    width: 800px;
    height: 600px;
    background: url(../Images/bgimg.jpg) no-repeat;
    background-size: center;
    margin-top: 60px;
    padding: 94px 65px;
}



.mi-container{
    width: 670px;
    height: 360px;
    background:url(../Images/front.jpg) no-repeat;
    background-size:100% 100%;
    
}

.navbar-brand img {
    display: block;
    margin-top: 4px;
}

.navbar-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    font-weight: 700;
    color: #b9b9bb;
    font-size: 15px;
}

.navbar-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    float: left;
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-left: 185px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    margin-top: 10px;
    width: 100%; 
}


#btn1 {
    border: 1px solid #b9b9bb;
    padding: 5px 3px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

h1{
    font-family: 'Georgia';
    color: #fff;
    font-size: 34px;
    margin-left: 32px;
    margin-top: 31px;
    font-weight: 700;
}

p{
    font-family: 'Georgia';
    color: #fff;
    font-size: 15px;
    margin-left: 32px;
}

.useEmail{
    width: 400px;
    margin-left: 15px;
    margin-top: -4px;
}

input[ type='email' ] {
    font-family: 'Georgia';
    font-size: 12px;
    padding: 7px 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: none;
}

input[ type='submit'] {
    font-family: 'Georgia';
    font-size: 15px;
    padding: 5px 32px;
    border-radius: 5px;
    background-color: #3ab187;
    border: none;
    cursor: pointer;
}

.useEmail p span{
    
    border-bottom: 3px dashed #fff;

}

.useEmail p{
    font-family: 'Georgia';
    font-size: 16px;
    margin-top: 9px;
    color: white;
    margin-left: 4px;
}