@font-face {

    font-family: 'georgia';
    src: url(../fonts/georgia.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'georgia';
    margin: 0;
    padding: 0;

}

/* 
Main container starts here
 */
.main_container {
    width: 810px;
    background: url(../Img/bgimg.jpg) no-repeat center;
    height: 600px;
    margin: 0 auto;
    padding: 90px 50px;
    margin-top: 80px;

}

/* 
Contain area starts here
 */

.contain_area {
    width: 700px;
    height: 420px;
    /* background: linear-gradient(rgb(208, 205, 226),rgb(204, 201, 227)),url(../Img/frontimg.jpg); */
    /* Try to add overlay on the image but above background code is not working so just simple done */

    background: url(../Img/front.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);

}

/* 
Header starts here
 */
.contain_area .header {
    display: block;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: #ffff;

}

.contain_area .img_logo {
    width: 30px;
    margin: 8px 0px;
    margin-top: 10px;
    margin-left: 10px;
}

/* 
Navbar starts here
 */

.contain_area .header nav {
    margin-left: 195px;

}


.contain_area .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contain_area .header nav ul li {
    display: inline-block;
    margin-top: 14px;
    margin-left: 39px;
    margin-right: -30px;

}

.contain_area .header nav ul li a {
    text-decoration: none;
    color: #cfcfd1;

}

.contain_area #btn {

    display: block;
    border: 2px solid #cfcfd1;
    padding: 1px 6px 1px 5px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

/* 
Left containt starts here..
 */

.left-content {
    width: 60%;
}

.left-content h1 {
    font-size: 32px;
    margin-top: 41px;
    margin-left: 36px;
    color: #e4f8ef;
}

.left-content p {
    margin-left: 36px;
    margin-top: 20px;
    color: #e4f8ef;
}

/* 
User email page start here..
 */

.left-content .user_email {
    margin-left: 36px;
    display: inline;

}

.left-content input[type="email"] {

    font-family: 'georgia';
    font-size: 12px;
    padding: 9px 25px 8px 16px;
    margin-top: 21px;
    border-radius: 4px;
    border: none;
    box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
}

.left-content input[type="email"]:focus {
    outline: none;
}

.left-content input[type="submit"] {

    font-family: 'georgia';
    font-size: 12px;
    padding: 9px 25px 8px 16px;
    margin-top: 21px;
    border-radius: 4px;
    border: none;
    background-color: #36b387;
    box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 5px 19px -2px rgba(0, 0, 0, 0.61);
    cursor: pointer;
}

.left-content p.chat {
    font-size: 17px;

}

.left-content p span {
    border-bottom: 2px dashed;
    font-size: 16px;
}